.container-cart {
  width: 100%;
  background-color: #f1f3f6;
}
.cart-parent {
  margin: 0 auto;
  min-width: 978px;
  max-width: 1680px;
  padding: 8px;
  display: inline-flex;
}

.left-section {
  font-size: 14px;
  flex-grow: 1;
  overflow: visible;
  display: flex;
  flex-direction: column;
  .header-div-cart {
    display: inline-flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    .cart-heading {
      font-size: 18px;
      line-height: 56px;
      padding: 0 24px;
      font-weight: 500;
    }
    .deliver-parent {
      display: inline-flex;
      align-items: baseline;
      margin: 5px 10px 0px 0px;
      align-items: center;
      width: 400px;
    }
    .deliver-to-span {
      align-items: center;
      width: 90px;
      margin-right: 12px;
      img {
        margin-bottom: -4px;
      }
      span {
        margin-left: 8px;
        font-weight: 500;
        color: #878787;
      }
    }
  }
}
.btn-div {
  border-top: 1px solid #f0f0f0;
  background: #fff;
  padding: 16px 22px;
  position: sticky;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.right-section {
  padding: 0px 0px 0px 16px;
  font-size: 14px;
  .right-top {
    background-color: white;
    border-radius: 2px;
    min-height: 47px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2%);
  }
  .right-middle {
    background-color: white;
  }
}
.rt-header {
  text-transform: uppercase;
  padding: 13px 24px;
  font-weight: 500;
  color: #878787;
  min-height: 47px;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #f0f0f0;
}
.rt-disc {
  color: #388e3c;
}
.rt-bottom {
  padding: 0 24px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
  .rt-bottom-rows {
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin: 20px 0px;
  }
  .ta {
    border-top: 1px dashed #e0e0e0;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
  .saved-row {
    display: flex;
    border-top: 1px dashed #e0e0e0;
    padding: 12px 0;
    font-size: 16px;
    justify-content: space-between;
    border-radius: 2px;
    color: #388e3c;
    font-weight: 500;
  }
}
.right-middle {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2%);
}
.rm-container {
  padding: 18px 12px 18px 24px;
  margin-top: 24px;
}
.rm-head {
  display: inline-flex;
  align-items: baseline;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  img {
    margin-left: 20px;
  }
}
.rm-body {
  color: #878787;
  font-weight: 500;
  margin-top: 6px;
  font-size: 14px;
  line-height: 1.4;
  display: inline-flex;
  align-items: center;
  img {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.rm-bottom {
  border-top: 1px solid #f0f0f0;
  padding: 16px 12px 16px 24px;
  margin-top: 6px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.right-bottom {
  font-size: 14px;
  text-align: left;
  display: inline-flex;
  color: #878787;
  padding: 5px 0 5px 5px;
  margin: 4px 15px 8px;
  font-weight: 500;
  .right-bottom-text {
    margin-left: 5px;
  }
}
